<p-table [value]="ItemGroupsList" dataKey="ItemGroupCdSr" responsiveLayout="scroll" [paginator]="true" [rows]="5" responsiveLayout="scroll">
    <ng-template pTemplate="header">
        <tr>
            <th style="width: 3rem"></th>
            <th pSortableColumn="ItemGroupCd">Item Group Code <p-sortIcon field="ItemGroupCd"></p-sortIcon></th>
            <th pSortableColumn="ItemGroupName">Item Group Name <p-sortIcon field="ItemGroupName"></p-sortIcon></th>
            <th pSortableColumn="ItemGroupDesc">Item Group Description <p-sortIcon field="ItemGroupDesc"></p-sortIcon></th>
            <th pSortableColumn="CreatedBy">Created/Modified By <p-sortIcon field="CreatedBy"></p-sortIcon></th>
        </tr>
    </ng-template>

    <ng-template pTemplate="body" let-itemgroup let-expanded="expanded">
        <tr>
            <td>
                <button type="button"  pButton pRipple [pRowToggler]="itemgroup" class="p-button-text p-button-rounded p-button-plain" [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button>
            </td>
            <td>{{itemgroup.ItemGroupCd}}</td>
            <td>{{itemgroup.ItemGroupName}}</td>
            <td>{{itemgroup.ItemGroupDesc}}</td>
            <td>{{itemgroup.CreatedBy}}</td>
        </tr>
    </ng-template>

    <ng-template pTemplate="rowexpansion" let-itemgroup>
        <tr>
            <td colspan="5">
                <div class="p-p-3">
                    <p-card>
                        <p-table [value]="itemgroup.SubGroupsList" dataKey="ItemSubGroupCdSr">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th style="width: 3rem"></th>
                                    <th pSortableColumn="ItemSubGroupCd">Item Subgroup Code <p-sortIcon field="ItemSubGroupCd"></p-sortIcon></th>
                                    <th pSortableColumn="ItemSubGroupName">Item Subgroup Name <p-sortIcon field="ItemSubGroupName"></p-sortIcon></th>
                                    <th pSortableColumn="ItemSubGroupDesc">Item Subgroup Description <p-sortIcon field="ItemSubGroupDesc"></p-sortIcon></th>
                                    <th pSortableColumn="CreatedBy">Created/Modified By <p-sortIcon field="CreatedBy"></p-sortIcon></th>
                                    <th></th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-subgroup>
                                <tr>
                                    <td style="width: 3rem"></td>
                                    <td>{{subgroup.ItemSubGroupCd}}</td>
                                    <td>{{subgroup.ItemSubGroupName}}</td>
                                    <td>{{subgroup.ItemSubGroupDesc}}</td>
                                    <td>{{subgroup.CreatedBy}}}</td>
                                    <td>
                                        <button type="button" pButton pRipple icon="pi pi-search" (click)="onItemSubGroupRowSelect(subgroup)"></button>
                                    </td>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="emptymessage">
                                <tr>
                                    <td colspan="6">There are no sub categories under this group yet.</td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </p-card>
                </div>
            </td>
        </tr>
    </ng-template>
</p-table>