<p-card>
    <span class="p-float-label">
        <input style="width: 100%;" id="txtSearchItemGroup" type="text" (input)="txtSearchItemGroupChange($event.target.value)" pInputText/>
        <label for="txtSearchItemGroup">Search Item Groups</label>
    </span>
    <p-listbox *ngIf="globalSearchPhrase" [(ngModel)]="globalSearchSelectedItem" [options]="searchResults" optionLabel="suggestion" Value="code"></p-listbox>
    <ng-container *ngIf="globalSearchSelectedItem" class="m-5">
        <button pButton pRipple icon="pi pi-plus" class="p-button-rounded p-button-primary m-3" (click)="additemgroup(globalSearchSelectedItem.itemnode)"></button>
        <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success m-3" (click)="edititemgroup(globalSearchSelectedItem)"></button>
        <button pButton pRipple icon="pi pi-eye" class="p-button-rounded p-button-warning m-3" (click)="viewitemgroup(globalSearchSelectedItem.itemnode)"></button>
        <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger m-3" (click)="deleteitemgroup(globalSearchSelectedItem.itemnode)"></button>
    </ng-container>
</p-card>
<p-treeTable #tt [value]="itemgroups" [paginator]="true" [rows]="10" [columns]="selectedColumns" [resizableColumns]="true">
    <ng-template pTemplate="caption">
        <div style="text-align:left">
            <p-multiSelect [options]="cols" [(ngModel)]="selectedColumns" optionLabel="header"
                        selectedItemsLabel="{0} columns selected" [style]="{'width': '20em'}" defaultLabel="Choose Columns" optionDisabled="multi_select_inactive"></p-multiSelect>
        </div>
    </ng-template>
    <ng-template pTemplate="header" let-columns>
        <tr>
            <th *ngFor="let col of columns" [ttSortableColumn]="col.field">
                {{col.header}}
                <span *ngIf="col.sortable">
                    <p-treeTableSortIcon [field]="col.field"></p-treeTableSortIcon>
                </span>
            </th>
            <th>
            </th>
        </tr>
        <tr style="width: 100%;">
            <th *ngFor="let col of columns">
                <span *ngIf="col.filter">
                    <input pInputText type="text" (input)="tt.filter($event.target.value, col.field, 'contains')">
                </span>
            </th>
            <th></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowNode let-rowData="rowData" let-columns="columns">
        <tr>
            <td *ngFor="let col of columns; let i = index">
                <p-treeTableToggler [rowNode]="rowNode" *ngIf="i == 0"></p-treeTableToggler>
                <span *ngIf="col.header!='Properties'">{{rowData[col.field]}}</span>
                <span *ngIf="col.header=='Properties'">
                    <ng-container *ngFor="let groupproperty of rowData[col.field];">
                        <p-tag styleClass="m-1" value="{{groupproperty}}"></p-tag>
                    </ng-container>
                </span>
            </td>
            <td>
                <button pButton pRipple icon="pi pi-plus" class="p-button-rounded p-button-primary mr-2" (click)="additemgroup(rowNode)"></button>
                <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" (click)="edititemgroup(rowNode)"></button>
                <button pButton pRipple icon="pi pi-eye" class="p-button-rounded p-button-warning mr-2" (click)="viewitemgroup(rowNode)"></button>
                <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger" (click)="deleteitemgroup(rowNode)"></button>
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
        <tr>        
            <td [attr.colspan]="selectedColumns.length">No groups found.</td>
            <td></td>
        </tr>
    </ng-template>
    <ng-template pTemplate="footer" let-columns>
        <tr>
            <td *ngFor="let col of columns">
            </td>
            <td>
                <button pButton pRipple icon="pi pi-plus" class="p-button-rounded p-button-primary mr-2" (click)="addrootgroup()"></button> 
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="summary">
        <tr>        
            <td [attr.colspan]="selectedColumns.length">There are {{itemgroups?.length}} root item groups.</td>
            <td></td>
        </tr>
    </ng-template>
</p-treeTable>